<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user_info', user: @user %>
  <table class="table">
    <tr>
      <th><%= link_to "ユーザー情報編集", edit_user_path(@user.id) %></th>
    </tr>
    <tr>
      <th><%=link_to "退会", user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？" %></th>
    </tr>
  </table>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>つぶやき一覧</h1>
        <table class="table table-hober table-inverse">
          <thead>
            <tr>
              <th>Title</th>
              <th>つぶやき</th>
              <th colspan="3"></th>
            </tr>
          </thead>
                 
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, post_path(post.id) %></td>
                <td><%= post.body %></td>
              </tr>
            <% end %>
          </tbody>
                      
        </table>
        <%= paginate @posts %>
    </div>
  </div>
</div>
