
<h1>つぶやき編集</h1>
<%= flash[:notice] %> 
<% if @post.errors.any? %>
  <h3><%= pluralize(@post.errors.count, "error") %> prohibited this obj from being saved:</h3>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
<%= form_with model:@post do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>つぶやき</h4>
  <%= f.text_area :body %>

  <%= f.submit '更新' %>

<% end %>
  <%= link_to "詳細へ", post_path(@post.id) %>
  <%= link_to "一覧へ", posts_path %>