<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1"> 
      <h2>投稿詳細</h2>
        <%= flash[:notice] %>
        <% if @error_comment.present? %>
          <p>コメントを記載してください。</p>
          <ul>
            <% @error_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>つぶやき</th>
            <th>ユーザー名</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><%= @post.title %></td>
            <td><%= @post.body %></td>
            <td><%= link_to @post.user.name, user_path(@post.user.id) %></td>
          </tr>
        </tbody>
      </table>
      <%= @post.created_at.strftime('%Y/%m/%d') %>
      <% if @post.user == current_user %>
        <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-sm btn-success" %>
      <% end %>
      
      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
        <% end %>
      </div>
    </div>
  </div>
</div>