<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1"> 
      <h2>投稿詳細</h2>
        <%= flash[:notice] %>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>つぶやき</th>
            <th>ユーザー名</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><%= @post.title %></td>
            <td><%= @post.body %></td>
            <td><%= link_to @post.user.name, user_path(@post.user.id) %></td>
          </tr>
        </tbody>
      </table>
      <% if @post.user == current_user %>
        <%= link_to "編集する", edit_post_path(@post.id),class:"btn btn-sm btn-success" %>
      <% end %>
      
    </div>
  </div>
</div>