<% if user_signed_in? %>
  <h2>ユーザー情報</h2>
    <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tr>
      <th>ユーザー名</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>プロフィール</th>
      <th><%= user.profile %></th>
    </tr>
    <tr>
      <th><%= link_to "フォロー数", user_followings_path(@user.id) %></th>
      <th></th>
    </tr>
    <tr>
      <th><%= link_to "フォロワー数", user_followers_path(@user.id) %></th>
      <th></th>
    </tr>
    <%if @user == current_user %>
      <tr>
        <th><%= link_to "いいね一覧", favorites_user_path(@user.id) %></th>
        <th></th>
      </tr>
      <tr>
        <th><%= link_to "ユーザー情報編集", edit_user_path(@user.id) %></th>
        <th></th>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>ユーザー情報</h2>

  <table>
    <tr>
      <th>ユーザー名</th>
      <th>ゲスト</th>
    </tr>

  </table>
  
  <p>ゲストユーザーは一覧の閲覧のみ可能です。</p>
<% end %>