<!DOCTYPE html>
<html>
  <head>
    <title>ママやき</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <script src="https://kit.fontawesome.com/1ee55760e3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">ママやき</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
                          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to root_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-house"></i> トップ
                <% end %>
              </li>
              <li>
                <%= link_to mypage_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-user"></i> マイページ
                <% end %>
              </li>
              <li>
                <%= link_to posts_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-list"></i>投稿一覧
                <% end %>
              </li>
              <li>
                <%= link_to new_post_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-comment"></i> 新規投稿
                <% end %>
              </li>
              <li class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Notification
                  <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% if current_user.notifications.where(read: false).any? %>
                    <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                    <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                      <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
                    <% end %>
                  <% else %>
                    <span class="dropdown-item disabled">未読の通知はありません</span>
                  <% end %>
                </div>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-house"></i> トップ
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-right-to-bracket"></i> ログイン
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class:"nav-link text-dark" do %>
                  <i class="fa-solid fa-user-plus"></i> 新規登録
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>    
    <% if user_signed_in? %>
  <div class="search_form text-right">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['ユーザー'], ['つぶやき']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
    <%= yield %>
  </body>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

